<!DOCTYPE html>
<html>
  <head>


    <title>App6news</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- https://stackoverflow.com/questions/32960846/bootstrap-carousel-not-working-rails -->
  	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script>
	  $( document ).ready(function(){
	  $('#mycarousel').carousel();
	  });
	</script>

  </head>

  <body>

    <%= yield %>

  </body>
</html>
