@import "bootstrap-sprockets";
@import "bootstrap";

.wrapper {
    display: flex;
    align-items: stretch;
}   

#sidebar.active {
}


/*
    ADDITIONAL DEMO STYLE, NOT IMPORTANT TO MAKE THINGS WORK BUT TO MAKE IT A BIT NICER :)
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #4b588c;
    color: #fff;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.7em;
    color: #fff;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #D0A9F5;
    color: #fff;
    transition: all 0.3s;

    min-height: 100vh;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #AC58FA;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #D0A9F5;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #D0A9F5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #AC58FA;
    background: #fff;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #D0A9F5;
}

.carousel-content {
    color:black;
    display:flex;
    align-items:center;
}

.carousel-content p:hover{
	color: #ff68e8;
}

.carousel-control.left, .carousel-control.right {
    background:rgba(0,0,0,0);
}


.row
{
	height: 100%;
}

.col-xs-3
{
	padding-left: 0;
	padding-right: 0;

	min-width: 150px;
}

.tone-a-1
{
	background-color: #555;
}

.col-xs-12
{
	padding-top: 10px;
	padding-bottom: 10px;
}

.carousel-arrow-prev
{
	background-color: #7aadff;
}
.carousel-arrow-next
{
	background-color: #77d184;
}

.arrow-text p
{
    font-size: 3.5em;
    color: #fff;
    text-align: left;
}
.arrow-text p:hover{
    color: #000;
}
.bottom-arrows
{
    width: 100%;
    position: fixed;
    bottom: 0;
}

.focusView {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
}

.focusView a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;

}

.focusView p {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;

}

.focusView a:hover{
    color: #D0A9F5;
}

.focusView .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .focusView {padding-top: 15px;}
  .focusView a {font-size: 18px;}
}
